
dy, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0 none;
}
address, caption, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none outside none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
html, body {
  height: 100%;
}
body {
  background: url("../images/bg.png") repeat scroll left top #FCF9F7;
  font-family: "Helvetica Neue",Helvetica,Arial;
  margin: 0;
  padding: 0;
}
div#shim {
  float: left;
  height: 50%;
  margin-top: -250px;
  visibility: hidden;
  width: 100%;
}
div#content {
  clear: both;
  height: 500px;
  margin: 0 auto;
  position: static;
  top: -250px;
  width: 940px;
}
.watch {
  background: url("../images/watch.png") no-repeat scroll left bottom transparent;
  float: left;
  height: 500px;
  margin-right: 30px;
  width: 384px;
}
.rest {
  float: left;
  width: 526px;
}
.clear {
  clear: both;
}
h1 {
  background: url("../images/logo.png") repeat scroll 0 0 transparent;
  border-radius: 20px 20px 20px 20px;
  color: #4D4D4D;
  float: left;
  font-family: 'Crete Round',serif;
  font-size: 72px;
  letter-spacing: -2px;
  line-height: 50px;
  margin-bottom: 10px;
  padding: 20px;
}
h1 span {
  display: block;
  font-family: 'Parisienne',cursive;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 40px;
}
h2 {
  color: #396F90;
  font-family: 'Oswald',sans-serif;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 55px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
h2 span {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0;
}
p {
  color: #4D4D4D;
  font-family: 'PT Sans Caption',sans-serif;
  font-size: 16px;
}
ul.social {
  float: left;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 526px;
}
ul.social li {
  float: left;
  margin-right: 25px;
}
ul.social li a img{
  float: left;
  height: 60px;
  width: 60px;
}
ul.social li a.git {
  background-position: 0 0;
}
ul.social li a.git:hover {
  background-position: 0 -60px;
}
ul.info {
  float: left;
  width: 526px;
}
ul.info li {
  color: #4D4D4D;
  float: left;
  font-family: 'Oswald',sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-right: 40px;
}
ul.info li a {
  color: #4D4D4D;
}
ul.info li.ph {
  background: url("../images/icons.png") no-repeat scroll left top transparent;
  padding-top: 25px;
}
ul.info li.ad {
  background: url("../images/icons.png") no-repeat scroll left -208px transparent;
  padding-top: 25px;
}
ul.info li.mail {
  background: url("../images/icons.png") no-repeat scroll left -107px transparent;
  padding-top: 25px;
}

