---
layout: default
nav-name: PEOPLE
group: navigation
title: Meet The Real DevOps People @ CodeIgnition
description: The small but passionate bunch of people driving CodeIgnition are Ajey Gore, Shraddha Gore, Sumit Gupta, Shobhit Srivastava, Mehakdeep Singh, Vipul Sharma, Sanat Thite, Abhinanadan Kothari, Monika Bhadauria, Sankalp Singh, Hari Om Gaur, Debashish Ghatak, Himanshu Shukla, Guru Pratap, Sartaj Singh, Akashdeep Singh and Hari haran.
weight: 5
theme :
name : bootstrap-3
---
{% include JB/setup %}

<h1>The Team</h1>
<div class="content-block">
  <div class="text">
    <p>The lazy bunch, we believe that laziness is one of the factors apart from passion which drives us to write better code. We love being lazy, and we work hard towards it.</p>
    <p>We as a team believe in bringing disruptive technologies to clients and help them leverage our abilities to the fullest. And of course, bring laziness for automation.</p>

  </div>
</div>
<hr/>
<div class="content-block">
  <div class="row text">
    {% for key_name in site.data.people_list %}
    {% assign member = site.data.people[key_name] %}
    <div class="col-md-3" style="margin-bottom:3%">
      <img src="{{member.image}}" class="img-circle" alt="{{member.name}}" height="150px">
      {{ member.name }}
      <br/>
      {{ member.position }}
      <br/>
      <div class="text">
        <a href="https://github.com/{{ member.github }}" target="_blank"><i class="fa fa-2x fa-github"></i></a>
        <a href="https://twitter.com/{{ member.twitter }}" target = "_blank"><i class="fa fa-2x fa-twitter"></i></a>
        <a href="https://in.linkedin.com/in/{{ member.linkedin }}" target = "_blank"><i class="fa fa-2x fa-linkedin"></i></a>
      </div>
    </div>
    {% endfor %}
    <div class="col-md-3">
      <img src="/assets/people/laughing-ninja.jpg" class="img-circle" alt="Laughing Ninja" height="150px">
      Laughing Ninja 
      <br/>
      Be what you like. Be amazing
      <br/>
      <div class="text">
        <a href="https://github.com" target="_blank"><i class="fa fa-2x fa-github"></i></a>
        <a href="https://twitter.com" target = "_blank"><i class="fa fa-2x fa-twitter"></i></a>
        <a href="" target = "_blank"><i class="fa fa-2x fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
<hr>
<div class="content-block">
  <h1 class="purple">Join Us</h1>
  <p>Start by writing to us at <strong>careers@codeignition.co</strong> and telling us about you, and what you would like to do.</p>
  <p>Don't forgot to include any supporting documents or links, like your GitHub or CodePen profiles.</p>
</div>
<hr>
<div class="content-block">
  <p class="text">
    <a href="/about.html">More about Us</a>
    |
    <a href="/services.html">What we do</a>
  </p>
</div>
