<div class="topnav">
  <div class="logo page-scroll">
    <a href="#page-top"><img src="{{ site.baseurl }}/images/logo.png" alt="CodeIgnition - DevOps people" height="30" /></a>
  </div>
  <div class="topmenu page-scroll">
    <a class="topmenuitem" href="#services">Services </a> &nbsp;&nbsp;
    <a class="topmenuitem" href="#clients">Clients </a> &nbsp;&nbsp;
    <a class="topmenuitem" href="#technologies">Technologies </a> &nbsp;&nbsp;
    <a class="topmenuitem" href="#team">Team</a> &nbsp;&nbsp;
    <a class="topmenuitem" href="#contact">Contact</a>
  </div>
</div>
