<div class="header">
  <div class="header-inner">
    <div class="logo page-scroll">
      <a href="{{ site.baseurl }}/#page-top">
        <img src="{{ site.baseurl }}/images/logo.png" alt="CodeIgnition - DevOps people"/>
      </a>
    </div>
    <div class="top-menu page-scroll">
      <a class="topmenu-item" href="{{ site.baseurl }}/#services">Services </a> &nbsp;&nbsp;
      <a class="topmenu-item" href="{{ site.baseurl }}/#clients">Clients </a> &nbsp;&nbsp;
      <a class="topmenu-item" href="{{ site.baseurl }}/#technologies">Technologies </a> &nbsp;&nbsp;
      <a class="topmenu-item" href="{{ site.baseurl }}/#team">Team</a> &nbsp;&nbsp;
      <a class="topmenu-item" href="{{ site.baseurl }}/#contact">Contact</a>
    </div>
  </div>
</div>
