<div class="topnav">
  <div class="logo page-scroll">
    <a href="{{ site.baseurl }}/#page-top"><img src="{{ site.baseurl }}/images/logo.png" alt="CodeIgnition - DevOps people" height="30" /></a>
  </div>
  <div class="topmenu page-scroll">
    <a class="topmenuitem" href="/#services">Services </a> &nbsp;&nbsp;
    <a class="topmenuitem" href="{{ site.baseurl }}/#clients">Clients </a> &nbsp;&nbsp;
    <a class="topmenuitem" href="{{ site.baseurl }}/#technologies">Technologies </a> &nbsp;&nbsp;
    <a class="topmenuitem" href="{{ site.baseurl }}/#team">Team</a> &nbsp;&nbsp;
    <a class="topmenuitem" href="{{ site.baseurl }}/#contact">Contact</a>
  </div>
</div>
