<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="devops chef virtualization automation configuration management alerting monitoring performance auto-scaling ec2 aws cloud migration ">

<meta name="description" content="CodeIgnition is devops, networking and virtualization consulting firm which focusses on performant scalable application deployment">
<title>{{ site.title }}</title>
<link href='http://fonts.googleapis.com/css?family=Merriweather:300italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/ci.css" >
</head>
<body>
<div class="container">
  {% include header.html %}
  {{ content }}
</div>
<!-- Core JavaScript Files -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/jquery.easing.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="js/scrolling-nav.js"></script>
</body>
</html>
